SERVER_PORT="50055"
DB_URL="postgres://api-gateway:api-gateway@db:5432/api-gateway?sslmode=disable&x-migrations-table=schema_migrations_orders"
DB_DRIVER="postgres"
MIGRATION_RUN="false"
PATH_PUBLIC_PEM="./certs/public_key.pem"